- model_class = Inventory
.span10
  .page-header
    %h1 Инвентарь
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= model_class.human_attribute_name(:act_num)
        %th= model_class.human_attribute_name(:act_type_id)
        %th= model_class.human_attribute_name(:inv_num)
        %th= model_class.human_attribute_name(:accept_date)
        -if logged_in? && current_user.admin_inv?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @inventories.each do |inventory|
        %tr
          %td=link_to inventory.act_num, inventory
          %td= inventory.act_type.name
          %td= inventory.inv_num
          %td=l inventory.accept_date, format: :long
          -if logged_in? && current_user.admin_inv?
            %td.actions
              =link_to edit_inventory_path(inventory), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              =link_to inventory_path(inventory), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}

      =paginate @inventories

  -if logged_in? && current_user.admin_inv?
    %p
      = link_to new_inventory_path, class: "btn btn-small" do
        #{image_tag("add.png",:size => "16x16")} Добавить инвентарь