.page-header
  %h1 Поиск
= form_tag search_path, :method => :get do
  %p
    = text_field_tag :query, params[:query]
    = submit_tag "Искать!", :class => "btn btn-info"

-if @acts.present?
  %h3 Акты:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= ActType.human_attribute_name(:name)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @acts.each do |act_type|
        %tr
          %td #{act_type.name} (#{(Inventory.where(:act_type_id => act_type).count)})
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), act_type_path(act_type), :class => 'btn btn-mini btn-info'
              -if logged_in? && current_user.admin_user?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_act_type_path(act_type)
                  %li= link_to t('.destroy', :default => t("helpers.links.destroy")), act_type_path(act_type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }
-if @details.present?
  %h3 Детали:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= Detail.human_attribute_name(:vendor_id)
        %th= Detail.human_attribute_name(:device_id)
        %th= Detail.human_attribute_name(:subsystem_id)
        %th= Detail.human_attribute_name(:rev)
        %th= Detail.human_attribute_name(:serial)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @details.each do |detail|
        %tr
          %td= detail.vendor.name
          %td= detail.device.name
          %td
            -if detail.subsystem
              = detail.subsystem.name
          %td= detail.rev
          %td= detail.serial
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), detail_path(detail), :class => 'btn btn-mini btn-info'
              -if logged_in? && current_user.admin_user?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_detail_path(detail)
                  %li= link_to t('.destroy', :default => t("helpers.links.destroy")), detail_path(detail), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }
-if @inventories.present?
  %h3 Инвентарь:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= Inventory.human_attribute_name(:inv_num)
        %th= Inventory.human_attribute_name(:act_num)
        %th= Inventory.human_attribute_name(:act_type_id)
        %th= Inventory.human_attribute_name(:accept_date)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @inventories.each do |inventory|
        %tr
          %td= inventory.inv_num
          %td= inventory.act_num
          %td= inventory.act_type.name
          %td=l inventory.accept_date, format: :long
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), inventory_path(inventory), :class => 'btn btn-mini btn-info'
              -if logged_in? && current_user.admin_user?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_inventory_path(inventory)
                %li= link_to t('.destroy', :default => t("helpers.links.destroy")), inventory_path(inventory), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }
-if @equipment.present?
  %h3 Оборудование:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= Equipment.human_attribute_name(:inventory_id)
        %th= Equipment.human_attribute_name(:room_id)
        %th= Equipment.human_attribute_name(:responsible_id)
        %th= Equipment.human_attribute_name(:domain_name)
        %th= Equipment.human_attribute_name(:created_at)
        %th= Equipment.human_attribute_name(:accepted_at)
        %th= Equipment.human_attribute_name(:deleted_at)

        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      -@equipment.each do |equipment|
        %tr
          %td
            -if equipment.inventory
              = equipment.inventory.act_num
          %td
            -if equipment.room
              = equipment.room.name
          %td
            -if equipment.responsible
              = equipment.responsible.name
          %td= equipment.domain_name
          %td=l equipment.created_at, format: :long
          %td
            -if equipment.accepted_at
              =l equipment.created_at, format: :long
          %td
            -if equipment.deleted_at
              =l equipment.created_at, format: :long
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), equipment_path(equipment), :class => 'btn btn-mini btn-info'
              -if admin_equip?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_equipment_path(equipment)
                  %li= link_to t('.destroy', :default => t("helpers.links.destroy")), equipment_path(equipment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }
-if @rooms.present?
  %h3  Кабинеты:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= Room.human_attribute_name(:name)
        %th Оборудование
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @rooms.each do |room|
        -equipment = Equipment.where(:room_id=>room).order(:domain_name)
        %tr
          %td= room.name
          %td
            -if equipment
              -equipment.each do |equip|
                =link_to equip.domain_name, equip
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), room_path(room), :class => 'btn btn-mini btn-info'
              -if logged_in? && current_user.admin_user?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_room_path(room)
                  %li= link_to t('.destroy', :default => t("helpers.links.destroy")), room_path(room), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }
-if @users.present?
  %h3 Пользователи:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= User.human_attribute_name(:login)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:role)
        %th= User.human_attribute_name(:deleted_at)
        %th= User.human_attribute_name(:login_count)
        %th= User.human_attribute_name(:last_login_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      -@users.each do |user|
        %tr
          %td= user.login
          %td= user.name
          %td= user.email
          %td
            = user.admin_user
            = user.admin_equip
            = user.admin_inv
            = user.responsible
            = user.assistant
          %td
          %td= user.login_count
          %td
            -if user.last_login_at
              =l user.last_login_at, format: :long
          %td
            .btn-group
              = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class => 'btn btn-mini btn-info'
              -if logged_in? && current_user.admin_user?
                %button.btn.btn-mini.btn-info.dropdown-toggle(data-toggle="dropdown")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user)
                  %li= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }