.page-header
  %h1 Поиск
= form_tag search_path, :method => :get do
  %p
    = text_field_tag :query, params[:query], :class => "input-large search-query"
    = submit_tag "Искать", :class => "btn btn-info"

-if @acts.present?
  %h3 Акты:
  .accordion
    - @acts.each do |act_type|
      .accordion-group
        .accordion-heading
          .accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#item_#{act_type.id}"}
            #{image_tag("doc.png",:size => "20x20")} #{link_to act_type.name, act_type} (#{Inventory.where(:act_type_id => act_type).count})
            .pull-right
              = link_to image_tag("edit.png",:size => "20x20"), edit_act_type_path(act_type)
              = link_to image_tag("destroy.png",:size => "20x20"), act_type_path(act_type), :method => :delete
        .accordion-body.collapse{:id => "item_#{act_type.id}"}
          .accordion-inner
            %table.table.table-bordered.table-condensed.table-hover
              %thead
                %tr
                  %th= Inventory.human_attribute_name(:act_num)
                  %th= Inventory.human_attribute_name(:inv_num)
                  %th= Inventory.human_attribute_name(:accept_date)
                  %th Комментарий
              %tbody
                -inventories = Inventory.where(:act_type_id => act_type).order("inv_num")
                -inventories.each do |inventory|
                  %tr.info
                    %td=link_to inventory.act_num, inventory
                    %td= inventory.inv_num
                    %td=l inventory.accept_date, format: :long
                    %td= inventory.body
-if @details.present?
  %h3 Детали:
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th Название детали
        %th= Detail.human_attribute_name(:subsystem_id)
        %th= Detail.human_attribute_name(:rev)
        %th= Detail.human_attribute_name(:serial)
        -if logged_in? && current_user.admin_equip?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @details.each do |detail|
        %tr
          %td=link_to detail.name, detail
          %td
            -if detail.subsystem
              = detail.subsystem.name
          %td= detail.rev
          %td= detail.serial
          -if logged_in? && current_user.admin_equip?
            %td.actions
              =link_to edit_detail_path(detail), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              =link_to detail_path(detail), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}
-if @inventories.present?
  %h3 Инвентарь:
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= Inventory.human_attribute_name(:act_num)
        %th= Inventory.human_attribute_name(:act_type_id)
        %th= Inventory.human_attribute_name(:inv_num)
        %th= Inventory.human_attribute_name(:accept_date)
        -if logged_in? && current_user.admin_inv?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @inventories.each do |inventory|
        %tr
          %td=link_to inventory.act_num, inventory
          %td= inventory.act_type.name
          %td= inventory.inv_num
          %td=l inventory.accept_date, format: :long
          -if logged_in? && current_user.admin_inv?
            %td.actions
              =link_to edit_inventory_path(inventory), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              =link_to inventory_path(inventory), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}
-if @equipment.present?
  %h3 Оборудование:
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= Equipment.human_attribute_name(:domain_name)
        %th= "Кабинет"
        %th= Equipment.human_attribute_name(:responsible_id)
        %th= Equipment.human_attribute_name(:inventory_id)
        %th Деталей
        %th= Equipment.human_attribute_name(:updated_at)
        %th= Equipment.human_attribute_name(:accepted_at)
        %th= Equipment.human_attribute_name(:deleted_at)
        %th.actions=t '.actions', :default => t("helpers.actions")
    %tbody
      - @equipment.each do |equipment|
        %tr
          %td= link_to equipment.domain_name, equipment
          %td= equipment.room.name
          %td
            -if equipment.responsible
              = equipment.responsible.name
          %td
            -if equipment.inventory
              = equipment.inventory.inv_num
          %td= equipment.details.count
          %td=l equipment.updated_at, format: :long
          %td
            -if equipment.accepted_at && !equipment.deleted_at
              =l equipment.accepted_at, format: :long
            -elsif !equipment.deleted_at
              .label.label-important
                %center
                  НЕ ПРИНЯТО
          %td
            -if equipment.deleted_at
              =l equipment.deleted_at, format: :long
          %td.actions
            =link_to edit_equipment_path(equipment), :class => "btn btn-mini" do
              #{image_tag("edit.png",:size => "16x16")}
            -if !equipment.deleted_at
              =link_to equipment_path(equipment), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}
              -if !equipment.accepted_at
                =link_to equipment_path(equipment), :method => :accept, :class => "btn btn-mini" do
                  #{image_tag("accept.png",:size => "16x16")}
            -else
              =link_to equipment_path(equipment), :method => :delete, :class => "btn btn-mini"  do
                #{image_tag("restore.png",:size => "16x16")}
-if @rooms.present?
  %h3  Кабинеты:
  .accordion
    -@rooms.each do |room|
      .accordion-group
        .accordion-heading
          .accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#item_#{room.id}"}
            #{image_tag("room.png",:size => "20x20")} #{link_to room.name, room} (#{Equipment.where(:room_id => room, :deleted_at => nil).count})
            .pull-right
              = link_to image_tag("edit.png",:size => "20x20"), edit_room_path(room)
              = link_to image_tag("destroy.png",:size => "20x20"), room_path(room), :method => :delete
        .accordion-body.collapse{:id => "item_#{room.id}"}
          .accordion-inner
            %table.table.table-bordered.table-condensed.table-hover
              %thead
                %tr
                  %th= Equipment.human_attribute_name(:domain_name)
                  %th= Equipment.human_attribute_name(:responsible_id)
                  %th= Equipment.human_attribute_name(:inventory_id)
                  %th Деталей
                  %th= Equipment.human_attribute_name(:accepted_at)
              %tbody
                -equipments = Equipment.where(:room_id => room, :deleted_at => nil).order("deleted_at DESC, accepted_at DESC, domain_name")
                -equipments.each do |equipment|
                  %tr.info
                    %td= link_to equipment.domain_name, equipment
                    %td
                      = equipment.responsible.name
                    %td
                      -if equipment.inventory
                        = equipment.inventory.inv_num
                    %td= equipment.details.count
                    %td
                      -if logged_in? && current_user.admin_equip?
                        -if equipment.accepted_at && !equipment.deleted_at
                          =l equipment.accepted_at, format: :long
                        -elsif !equipment.deleted_at
                          .label.label-important
                            %center
                              НЕ ПРИНЯТО
-if @users.present?
  %h3 Пользователи:
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= User.human_attribute_name(:login)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:role)
        %th Оборудования
        %th= User.human_attribute_name(:deleted_at)
        %th= User.human_attribute_name(:login_count)
        %th= User.human_attribute_name(:last_login_at)
        -if logged_in? && current_user.admin_user?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td=link_to user.login, user
          %td= user.name
          %td= user.email
          %td
            = user.admin_user
            = user.admin_equip
            = user.admin_inv
            = user.responsible
            = user.assistant
          %td= Equipment.where(:responsible_id => user.id).count
          %td
            -if !user.deleted_at
              .label.label-success
                %center нет
            -else
              .label.label-important
                %center да

          %td= user.login_count
          %td
            -if user.last_login_at
              =l user.last_login_at, format: :long
          -if logged_in? && current_user.admin_user?
            %td.actions
              =link_to edit_user_path(user), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              -if !user.deleted_at
                =link_to user_path(user), :method => :delete, :class => "btn btn-mini" do
                  #{image_tag("destroy.png",:size => "16x16")}
              -else
                =link_to user_path(user), :method => :delete, :class => "btn btn-mini"  do
                  #{image_tag("restore.png",:size => "16x16")}