= form_for @device, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :vendor_id, :class => 'control-label'
    .controls
      = f.select :vendor_id, Vendor.find(:all, :order=>:name).collect{ |c| [c.name,c.id]}, :required=>true, :prompt => "Выберите производителя"
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field', :placeholder => "Наименование устройства"
  .control-group
    = f.label :device_hex, :class => 'control-label'
    .controls
      = f.text_field :device_hex, :class => 'text_field', :placeholder => "0x0000-0xffff"
  .form-actions
    = f.submit nil, :class => 'btn btn-info'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), devices_path, :class => 'btn'

