=javascript_tag do
  window.details_path="#{details_path(format: 'json')}";
  window.rooms_path="#{rooms_path(format: 'json')}";
  window.inventories_path="#{inventories_path(format: 'json')}";
  window.users_path="#{users_path(format: 'json')}";

= form_for @equipment, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :inventory_id, :class => 'control-label'
    .controls
      = f.text_field :inventory_id, 'data-pre' => [@equipment.inventory].to_json(only: [:id, :inv_num])
  .control-group
    = f.label :room_id, :class => 'control-label'
    .controls
      = f.text_field :room_id, 'data-pre' => [@equipment.room].to_json(only: [:id, :name])
  .control-group
    = f.label :responsible_id, :class => 'control-label'
    .controls
      = f.text_field :responsible_id, 'data-pre' => [@equipment.responsible].to_json(only: [:id, :name])
  .control-group
    = f.label :domain_name, :class => 'control-label'
    .controls
      = f.text_field :domain_name, :class => 'text_field', placeholder: "Наименование оборудования"
  .control-group
    = f.label :detail_tokens, :class => 'control-label'
    .controls
      = f.text_field :detail_tokens, "data-pre"=>@equipment.details.map(&:attributes).to_json
  .form-actions
    = f.submit nil, :class => 'btn btn-info'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), equipment_index_path, :class => 'btn'
