.span10
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= Equipment.human_attribute_name(:domain_name)
        %th= Equipment.human_attribute_name(:room_id)
        %th= Equipment.human_attribute_name(:responsible_id)
        %th= Equipment.human_attribute_name(:inventory_id)
        %th Деталей
        %th= Equipment.human_attribute_name(:created_at)
        %th= Equipment.human_attribute_name(:updated_at)
        %th.actions=t '.actions', :default => t("helpers.actions")
    %tbody
      - new_equipment = @equipment.where("accepted_at IS NULL AND deleted_at IS NULL").order(:domain_name)
      - new_equipment.each do |equipment|
        %tr.warning
          %td= link_to equipment.domain_name, equipment
          %td= equipment.room.name
          %td
            -if equipment.responsible
              = equipment.responsible.name
          %td
            -if equipment.inventory
              = equipment.inventory.inv_num
          %td= equipment.details.count
          %td=l equipment.created_at, format: :long
          %td=l equipment.updated_at, format: :long
          %td.actions
            =link_to edit_equipment_path(equipment), :class => "btn btn-mini" do
              #{image_tag("edit.png",:size => "16x16")}
            =link_to equipment_path(equipment), :method => :delete, :class => "btn btn-mini" do
              #{image_tag("destroy.png",:size => "16x16")}
            =link_to equipment_path(equipment), :method => :accept, :class => "btn btn-mini" do
              #{image_tag("accept.png",:size => "16x16")}
      -#=paginate new_equipment