.span10
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= Equipment.human_attribute_name(:domain_name)
        %th= "Кабинет"
        %th= Equipment.human_attribute_name(:responsible_id)
        %th= Equipment.human_attribute_name(:inventory_id)
        %th Деталей
        %th= Equipment.human_attribute_name(:accepted_at)
        %th= Equipment.human_attribute_name(:deleted_at)
        %th.actions=t '.actions', :default => t("helpers.actions")
    %tbody
      - your_equipment = @equipment.where(:responsible_id => current_user.id).order("deleted_at DESC, accepted_at DESC, domain_name")
      - your_equipment.each do |equipment|
        %tr.info
          %td= link_to equipment.domain_name, equipment
          %td= equipment.room.name
          %td
            -if equipment.responsible
              = equipment.responsible.name
          %td
            -if equipment.inventory
              = equipment.inventory.inv_num
          %td= equipment.details.count
          %td
            -if equipment.accepted_at && !equipment.deleted_at
              =l equipment.accepted_at, format: :long
            -elsif !equipment.deleted_at
              .label.label-important
                %center
                  НЕ ПРИНЯТО
          %td
            -if equipment.deleted_at
              =l equipment.deleted_at, format: :long
          %td.actions
            =link_to edit_equipment_path(equipment), :class => "btn btn-mini" do
              #{image_tag("edit.png",:size => "16x16")}
            -if !equipment.deleted_at
              =link_to equipment_path(equipment), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}
              -if !equipment.accepted_at
                =link_to equipment_path(equipment), :method => :accept, :class => "btn btn-mini" do
                  #{image_tag("accept.png",:size => "16x16")}
            -else
              =link_to equipment_path(equipment), :method => :delete, :class => "btn btn-mini"  do
                #{image_tag("restore.png",:size => "16x16")}
      -#=paginate your_equipment

.span2
  .form-actions
    %p
      =link_to mpdf_equipment_path(current_user) do
        #{image_tag("make.png",:size => "20x20")} Сформировать отчет
    %p
      -@mpdfs.each do |pdf|
        .well
          = link_to "/#{pdf}" do
            =image_tag("pdf_icon.png",:size => "32x32", :alt => pdf.split("\/").last)
            #{short(pdf)}