- model_class = Equipment
.span9
  .page-header
    %h1 Просмотр оборудования

  .span2
    %strong= model_class.human_attribute_name(:inventory_id) + ':'
  .span8
    #{link_to (image_tag("inventory.png",:size => "32x32")), @equipment.inventory}
    = @equipment.inventory.inv_num
  .span2
    %strong= model_class.human_attribute_name(:room_id) + ':'
  .span8
    #{link_to (image_tag("room.png",:size => "32x32")), @equipment.room}
    = @equipment.room.name
  .span2
    %strong= model_class.human_attribute_name(:responsible_id) + ':'
  .span8
    #{link_to (image_tag("user.png",:size => "32x32")), @equipment.responsible}
    =@equipment.responsible.name
  .span2
    %strong= model_class.human_attribute_name(:details) + ':'
  .span8
    %p
      - @equipment.details.each do |detail|
        #{link_to (image_tag("detail.png",:size => "32x32")), detail}
        #{detail.vendor.name} > #{detail.device.name}
        -if detail.subsystem
          > #{detail.subsystem.name}
        %br
  .span2
    %strong= model_class.human_attribute_name(:domain_name) + ':'
  .span8
    #{image_tag("computer.png",:size => "32x32")}
    =@equipment.domain_name
  -if  @equipment.accepted_at
    .span2
      %strong= model_class.human_attribute_name(:accepted_at) + ':'
    .span8
      #{image_tag("accept.png",:size => "32x32")}
      =l @equipment.accepted_at, format: :long
  -if @equipment.deleted_at
    .span2
      %strong= model_class.human_attribute_name(:deleted_at) + ':'
    .span8
      #{image_tag("delete.png",:size => "32x32")}
      =l @equipment.deleted_at, format: :long
.span2
  .form-actions
    %p
      = link_to equipment_index_path do
        #{image_tag("back.png",:size => "20x20")} Назад
    %p
      = link_to edit_equipment_path(@equipment) do
        #{image_tag("edit.png",:size => "20x20")} Редактировать
    %p
      = link_to accept_path(@equipment), :method => "accept" do
        #{image_tag("accept.png",:size => "20x20")} Принять
    %p
      = link_to equipment_path(@equipment), :method => "delete" do
        #{image_tag("delete.png",:size => "20x20")} Удалить
    %p
      = link_to show_history_path(@equipment) do
        #{image_tag("history.png",:size => "20x20")} Показать историю
    %p
      =link_to pdf_equipment_path(@equipment) do
        #{image_tag("make.png",:size => "20x20")} Сформировать отчет
    %p
      -@pdfs.each do |pdf|
        .well
          = link_to "/#{pdf}" do
            =image_tag("pdf_icon.png",:size => "32x32", :alt => pdf.split("\/").last)
            #{short(pdf)}
.clear
%hr
%h4 Комментарии:
-@comments.each do |comment|
  =render 'comments/comment', :comment => comment
=paginate @comments
=link_to new_equipment_comment_path(@equipment), :class => "btn btn-small" do
  #{image_tag("add.png",:size => "16x16")} Ответить
