- model_class = User
.span10
  .page-header
    %h1 Пользователи
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th= model_class.human_attribute_name(:login)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:role)
        %th Оборудования
        %th= model_class.human_attribute_name(:deleted_at)
        %th= model_class.human_attribute_name(:login_count)
        %th= model_class.human_attribute_name(:last_login_at)
        -if logged_in? && current_user.admin_user?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td=link_to user.login, user
          %td= user.name
          %td= user.email
          %td
            = user.admin_user
            = user.admin_equip
            = user.admin_inv
            = user.responsible
            = user.assistant
          %td= Equipment.where(:responsible_id => user.id).count
          %td
            -if !user.deleted_at
              .label.label-success
                %center нет
            -else
              .label.label-important
                %center да

          %td= user.login_count
          %td
            -if user.last_login_at
              =l user.last_login_at, format: :long
          -if logged_in? && current_user.admin_user?
            %td.actions
              =link_to edit_user_path(user), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              -if !user.deleted_at
                =link_to user_path(user), :method => :delete, :class => "btn btn-mini" do
                  #{image_tag("destroy.png",:size => "16x16")}
              -else
                =link_to user_path(user), :method => :delete, :class => "btn btn-mini"  do
                  #{image_tag("restore.png",:size => "16x16")}
      =paginate @users

  -if logged_in? && current_user.admin_user?
    %p
      = link_to new_user_path, class: "btn btn-small" do
        #{image_tag("add.png",:size => "16x16")} Добавить пользователя