- model_class = Room
.span10
  .page-header
    %h1 Кабинеты
  .accordion
    -@rooms.each do |room|
      .accordion-group
        .accordion-heading
          .accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#item_#{room.id}"}
            #{image_tag("room.png",:size => "20x20")} #{link_to room.name, room} (#{Equipment.where(:room_id => room, :deleted_at => nil).count})
            .pull-right
              = link_to image_tag("edit.png",:size => "20x20"), edit_room_path(room)
              = link_to image_tag("destroy.png",:size => "20x20"), room_path(room), :method => :delete
        .accordion-body.collapse{:id => "item_#{room.id}"}
          .accordion-inner
            %table.table.table-bordered.table-condensed.table-hover
              %thead
                %tr
                  %th= Equipment.human_attribute_name(:domain_name)
                  %th= Equipment.human_attribute_name(:responsible_id)
                  %th= Equipment.human_attribute_name(:inventory_id)
                  %th Деталей
                  %th= Equipment.human_attribute_name(:accepted_at)
              %tbody
                -equipments = Equipment.where(:room_id => room, :deleted_at => nil).order("deleted_at DESC, accepted_at DESC, domain_name")
                -equipments.each do |equipment|
                  %tr.info
                    %td= link_to equipment.domain_name, equipment
                    %td
                      = equipment.responsible.name
                    %td
                      -if equipment.inventory
                        = equipment.inventory.inv_num
                    %td= equipment.details.count
                    %td
                      -if logged_in? && current_user.admin_equip?
                        -if equipment.accepted_at && !equipment.deleted_at
                          =l equipment.accepted_at, format: :long
                        -elsif !equipment.deleted_at
                          .label.label-important
                            %center
                              НЕ ПРИНЯТО
  .clear
  =paginate @rooms

  -if logged_in? && current_user.admin_equip?
    %p
      = link_to new_room_path, class: "btn btn-small" do
        #{image_tag("add.png",:size => "16x16")} Добавить кабинет
