- model_class = Detail
.span10
  .page-header
    %h1 Детали
  %table.table.table-bordered.table-condensed.table-hover
    %thead
      %tr
        %th Название детали
        %th= model_class.human_attribute_name(:subsystem_id)
        %th= model_class.human_attribute_name(:rev)
        %th= model_class.human_attribute_name(:serial)
        -if logged_in? && current_user.admin_equip?
          %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @details.each do |detail|
        %tr
          %td=link_to detail.name, detail
          %td
            -if detail.subsystem
              = detail.subsystem.name
          %td= detail.rev
          %td= detail.serial
          -if logged_in? && current_user.admin_equip?
            %td.actions
              =link_to edit_detail_path(detail), :class => "btn btn-mini" do
                #{image_tag("edit.png",:size => "16x16")}
              =link_to detail_path(detail), :method => :delete, :class => "btn btn-mini" do
                #{image_tag("destroy.png",:size => "16x16")}

      =paginate @details

  -if logged_in? && current_user.admin_equip?
    %p
      = link_to new_detail_path, class: "btn btn-small" do
        #{image_tag("add.png",:size => "16x16")} Добавить деталь
