- model_class = Detail
.span9
  .page-header
    %h1=t '.title', :default => model_class.model_name.human

  .span2
    %strong= model_class.human_attribute_name(:vendor_id) + ':'
  .span8
    = @detail.vendor.name
  .span2
    %strong= model_class.human_attribute_name(:device_id) + ':'
  .span8
    = @detail.device.name
  -if @detail.subsystem
    .span2
      %strong= model_class.human_attribute_name(:subsystem_id) + ':'
    .span8
      = @detail.subsystem.name
  .span2
    %strong= model_class.human_attribute_name(:rev) + ':'
  .span8
    = @detail.rev
  .span2
    %strong= model_class.human_attribute_name(:serial) + ':'
  .span8
    = @detail.serial
  -if @detail.accepted_at
    .span2
      %strong= model_class.human_attribute_name(:accepted_at) + ':'
    .span8
      =l @detail.accepted_at, format: :long
  -if @detail.deleted_at
    .span2
      %strong= model_class.human_attribute_name(:deleted_at) + ':'
    .span8
      =l @detail.deleted_at, format: :long
.span2
  .form-actions
    %p
      = link_to details_path do
        #{image_tag("back.png",:size => "20x20")} Назад
    -if logged_in? && current_user.admin_equip?
      %p
        = link_to edit_detail_path(@detail) do
          #{image_tag("edit.png",:size => "20x20")} Редактировать
      %p
        = link_to detail_path(@detail), :method => "delete" do
          #{image_tag("delete.png",:size => "20x20")} Удалить
.clear
