- model_class = Detail
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:vendor_id) + ':'
  %br
  = @detail.vendor.name
%p
  %strong= model_class.human_attribute_name(:device_id) + ':'
  %br
  = @detail.device.name
%p
  %strong= model_class.human_attribute_name(:subsystem_id) + ':'
  %br
  -if @detail.subsystem
    = @detail.subsystem.name
%p
  %strong= model_class.human_attribute_name(:rev) + ':'
  %br
  = @detail.rev
%p
  %strong= model_class.human_attribute_name(:serial) + ':'
  %br
  = @detail.serial
%p
  %strong= model_class.human_attribute_name(:accepted_at) + ':'
  %br
  -if @detail.accepted_at
    =l @detail.accepted_at, format: :long
%p
  %strong= model_class.human_attribute_name(:deleted_at) + ':'
  %br
  -if @detail.deleted_at
    =l @detail.deleted_at, format: :long

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), details_path, :class => 'btn'
  -if logged_in? && current_user.admin_user?
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_detail_path(@detail), :class => 'btn btn-warning'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), detail_path(@detail), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }, :class => 'btn btn-danger'